<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="description" content="Generate traffic signal timing diagrams to determine green running times." />
  <meta name="keywords" content="determine, traffic, signal, timing, diagrams, green, running, times" />
  <meta name="author" content="Brendan M. Sleight et al" />
  <link rel="stylesheet" type="text/css" href="/site_media/style.css" media="screen" title="Green London" />
  <link rel="shortcut icon" href="/site_media/images/favicon.ico" />
    <title>{% block title %}{% endblock %} - Generate traffic signal timing diagrams.</title>

<!--<script type="text/javascript" 
src="/site_media/jar/jquery-latest.js"></script>
<script type="text/javascript" src="/site_media/jar/thickbox.js"></script>
<link rel="stylesheet" href="/site_media/thickbox.css" type="text/css" media="screen" />
-->

</head>

<style type="text/css">


input.ig
{
 width: 30px;
}



</style>
<body>
	<div id="container">

		<!-- TOP HEADER SECTION -->

		<div id="top_bar">
			<p>Generate traffic signal timing diagrams to determine green running times.</p>
		</div>

		<div id="header">
<!--			<h1>Green London</h1> -->
		</div>

		<!-- END TOP HEADER SECTION -->

		<!-- LEFT SIDE MENU -->

			<div id="left_menu">
				<div class="menu">
					<ul>
						<li><a href="/">&nbsp; Introduction</a></li>
						<li><a href="/how-to/">&nbsp; How-To Video</a></li>
						<li><a href="/new-site/">&nbsp; New Site</a></li>
						<li><a href="/all-sites/">&nbsp; All Sites</a></li>
						<li><a href="/faq/">&nbsp; FAQ</a></li>
						<li><a href="http://code.google.com/p/determine/">&nbsp; Code</a></li>
						<li><a href="/contacts/">&nbsp; Contacts</a></li>
					</ul>
					<br/>
				</div>
			</div>

			<!-- END LEFT SIDE MENU -->
			
			<!-- RIGHT CONTENT AREA -->

			<div id="right_content">

        {% block content %}{% endblock %}
			</div>
			
			<!-- END RIGHT CONTENT AREA -->
			
			<div class="clear"></div>
		

		<!-- FOOTER AREA -->
		
		<div id="footer">
			<br/>
			<p><i>"The truth is rarely pure and never simple."</i> -- Oscar Wilde, The Importance of Being Earnest, 1895, Act I</p>
			<p>&copy; Determine.org.uk</p>
		</div>
		<!-- END FOOTER AREA -->

	</div>	

</body>
</html>
