{% extends "forms/base_forms.html" %}
{% block title %}{{siteRecord.title}} - Stages{% endblock %}
{% block forms %}
<form action="./" method="POST">

<h3>Add a Phase Delay to site</h3>
{{ form.as_p }}
<input type="submit" name="{{addDelayText}}"  value="{{addDelayText}}" />

{% if currentDelays %}
  <h4>Current Delays</h4>
  {% for delay in currentDelays %}
    <p><input type='submit' name='{{deleteDelayText}}' value='{{deleteDelayText}}{{delay}}' /></p>
  {% endfor %}
{% endif %}

</form>
{% endblock %}
