{% extends "forms/base_forms.html" %}
{% block title %}{{siteRecord.title}} - Diagrams{% endblock %}
{% block forms %}
<form action="./" method="POST">

<h3>Add a Diagram to Report</h3>
{{ form.as_p }}
<p><input type="submit" name="{{addDiagramText}}"  value="{{addDiagramText}}" /></p>

{% if currentDiagrams %}
  <h4>Current Diagrams</h4>
  <p>{{currentDiagramText|safe}}</p>
  {% for diagram in currentDiagrams %}
    <p><input type='submit' name='{{editDiagramText}}' value='{{editDiagramText}}{{diagram}}' />&nbsp;
    <input type='submit' name='{{deleteDiagramText}}' value='{{deleteDiagramText}}{{diagram}}' /></p>
  {% endfor %}
{% endif %}

</form>
{% endblock %}
