{% extends "forms/base_forms.html" %}
{% block title %}{{siteRecord.title}} Phases{% endblock %}
{% block forms %}
<form action="./" method="POST">

<h3>Add a Phase to site</h3>
{{ form.as_p }}
<p><input type="submit" name="{{addPhaseText}}"  value="{{addPhaseText}}" /></p>

{% if currentPhases %}
  <h4>Remove a Phase from a site</h4>
  {% for phase in currentPhases %}
    <p><input type='submit' name='{{deletePhaseText}}' value='{{deletePhaseText}}{{phase}}' /></p>
  {% endfor %}
{% endif %}

</form>
{% endblock %}
