{% extends "forms/base_forms.html" %}
{% block title %}{{siteRecord.title}} - Generate Reports{% endblock %}
{% block forms %}
<h3>Generate - Reports</h3>
<p>Below are different reports, each type availabale as a pdf.</p>
<ul>
<li><a href='../report/pdf/simple'>Simple and quick pdf report of {{siteRecord.title}}</a></li>
<li><a href='../report/pdf/normal'>Normal pdf report of {{siteRecord.title}}</a></li>
<li><a href='../report/pdf/full'>Full pdf report of {{siteRecord.title}}</a> (This takes ~1min to produce)</li>
</ul>
{% endblock %}
