{% extends "base.html" %}
{% block title %}Determine{% endblock %}
{% block content %}
<h2>Welcome</h2>
<p>Determine is a way to generate traffic signal timing diagrams to determine green running times.</p>
<p>Start generating a report by configuring a <a href=./new-site>new site</a></p>
<p></p>
{% if latestSites  %}
  <h3>Latest Sites</h3>
  <p>The last five sites created:-</p>
  <ul>
  {% for site in latestSites  %}						
    <li><a href={{site.get_absolute_url_report}}>{{site.title}}, entered on {{site.publish_date|date:"D d M Y" }}</a></li>
  {% endfor %}
  <ul>
{% endif %}
<p></p>
{% endblock %}
