<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en"><head>


  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="description" content="_your description goes here_">
  <meta name="keywords" content="_your,keywords,goes,here_">
  <meta name="author" content="Brendan M. Sleight et al">
  <link rel="stylesheet" type="text/css" href="/site_media/style.css" media="screen" title="Green London">
  <link rel="icon" type="image/png" href="/site_media/images/favicon.png">
    <title>determine - Simple Site - Start</title>
<style type="text/css">


input.ig
{
 width: 30px;
}



</style>
</head><body>
	<div id="container">

		<!-- TOP HEADER SECTION -->

		<div id="top_bar">
			<p>Generate traffic signal timing diagrams to determine green running times.</p>
		</div>

		<div id="header">
<!--			<h1>Green London</h1> -->
		</div>

		<!-- END TOP HEADER SECTION -->

		<!-- LEFT SIDE MENU -->

			<div id="left_menu">
				<div class="menu">
                  <p>&nbsp;</p>
				</div>
			</div>

			<!-- END LEFT SIDE MENU -->
			
			<!-- RIGHT CONTENT AREA -->

			<div id="right_content">

        

<p>&nbsp;</p>

  <div id="sitehtml">
  <h3>Current Site Configuration</h3>
    {{siteHtml|safe}}
  </div>



			</div>
			
			<!-- END RIGHT CONTENT AREA -->
			
			<div class="clear"></div>
		

		<!-- FOOTER AREA -->
		
		<div id="footer">
			<br>
			<p>© Determine etc</p>
		</div>
		<!-- END FOOTER AREA -->

	</div>	

</body></html>
