{% extends "forms/base_forms.html" %}
{% block title %}{{siteRecord.title}} - Configure Phases{% endblock %}
{% block forms %}
<form action="./" method="POST">

<h3>Configure Phase {{letter}}</h3>
<h4>Type:{{phaseType}}</h4>
{{ form.as_p }}

{% if fixedItems %}
  <h4>Fixed Parts of a {{phaseType}} Phase</h4>
  {% for state, stateTime in fixedItems %}
    <p>{{state}} is fixed at {{stateTime}}</p>
  {% endfor %}
{% endif %}

<p><input type="submit" name="configure"  value="Configure Phase {{letter}}" /></p>
    
</form>
{% endblock %}
