{% extends "base.html" %}
{% block content %}
<div id="forms">
  {% block forms %}{% endblock %}
</div>

{% if siteRecord.locked %}
  <div class="wizard">
    <p>Site locked, no further edits available.</p>
  </div>
{% else %}
<div class="wizard">
{% if previousUrl or nextUrl %}
  <h3>Edit Site Configuration</h3>
  <p>Next Steps:&nbsp;
  {% if previousUrl %}
    <a href='{{previousUrl}}'>&lt;&lt; {{previousName}}</a>
  {% endif %}
  {% if nextUrl %}
    <a href='{{nextUrl}}'>{{nextName}} &gt;&gt;</a>
  {% endif %}
  </p>
{% endif %}
</div>
{% endif %}
<p>&nbsp;</p>
{% if siteHtml %}
  <div id="sitehtml">
  <h3>Current Site Configuration</h3>
    {{siteHtml|safe}}
  </div>
{% endif %}

{% endblock %}
