{% extends "forms/base_forms.html" %}
{% block title %}{{siteRecord.title}} - Diagrams{% endblock %}
{% block forms %}
<form action="./" method="POST">

<h3>Edit Diagram</h3>
{% if diagramHtml %}
  <p>{{diagramHtml|safe}}</p>
{% endif %}

{{ form.as_p }}
<input type="submit" name="{{addDiagramText}}"  value="{{addDiagramText}}" />

{% if currentMovements %}
  <h4>Current Movements</h4>
  {% for movement in currentMovements %}
    <p><input type='submit' name='{{deleteDiagramText}}' value='{{deleteDiagramText}}{{movement}}' /></p>
  {% endfor %}
{% endif %}
<h4>Finished Diagram</h4>
<p><input type="submit" name="{{doneDiagramText}}"  value="{{doneDiagramText}}" />
</p>
<p>{{currentDiagramText|safe}}</p>
</form>
{% endblock %}
