{% extends "forms/base_forms.html" %}
{% block title %}{{siteRecord.title}} - Stages{% endblock %}
{% block forms %}
<form action="./" method="POST">

<h3>Add a Stage to site</h3>
{{ form.as_p }}
<p><input type="submit" name="{{addStageText}}"  value="{{addStageText}}" /></p>

{% if currentStages %}
  <h4>Current Stages</h4>
  <p>{{currentStagesText|safe}}</p>
  {% for stage in currentStages %}
    <p><input type='submit' name='{{editStageText}}' value='{{editStageText}}{{stage}}' />&nbsp;
    <input type='submit' name='{{deleteStageText}}' value='{{deleteStageText}}{{stage}}' /></p>
  {% endfor %}
{% endif %}

</form>
{% endblock %}
