{% extends "forms/base_forms.html" %}
{% block title %}{{siteRecord.title}} - Start{% endblock %}
{% block forms %}
<h3>Start</h3>
<p>Below are two sections, Edit Site Configuration and Current Site Configuration. 
As you progress through the steps of editing a site the current site 
configuration will show more detail. Followed by the final step - specifing 
which diagram to include in the report</p>

<p>This site can be edited (at the moment by anybody - I am working at 
user-names), until you choose to "Lock" the site for further editing. 
You can always get back to this this site but using url of the current 
page or by using the "All sites" link on the left.</p>

<p>First off add some Phases to to the site. </p>
{% endblock %}
